.red {
    color: red;
}

.red {
    background-color: #AE1C28;
}

.white {
    background-color: #FFFFFF;
}

.blue {
    background-color: #21468B;
}

.part {
    height: 32px;
    width: 100px;
}

/*  my comment in css file */
.red_part {
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    background-color: #214688;
}


.links-list a {
    .background-color: rgb(179, 57, 81);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
}


.box {
    border: 5px solid rebeccapurple;
    backgrold-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
}
.alternate {
    box-sizing: border-box;
}