.red {
    color: red;
    border: 2px solid blue;
    width: 75px;
}

.white {
    background-color: #FF00FF;
    width: 75px;
}

.blue {
    background-color: #21468B;
    width: 75px;
}

.part {
    height: 32px;
    width: 100px;
}

/*  my comment in css file */
.red_part {
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    background-color: #214688;
}


.box {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
}
.alternate {
    box-sizing: border-box;
}


.my_border {
    border: 2px solid rebeccapurple;
    width: 75px;
}